<ion-view title="Home" id="page7">
  <ion-content padding="true" style="background: url(img/Pk2X4ZhUS22sVeuDhLFp_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="home-container1">
      <h1 id="home-heading1" style="color:#000000;">What's New?</h1>
    </div>
    <div class="list card" id="home-card21">
      <ion-item class="item-divider" id="home-list-item-divider14"> Tinagong Dagat</ion-item>
      <div class=" item item-image">
        <img src="img/WogkbaSVyeq2dJwY1vpA_2012-08-18-Lions-Binkert-Hike-9867-MKH.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="home-list-item-container12">
        <div id="home-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Tinagong Dagat is a potentially active volcano crater located deep within the rain forest of Mt. Mandalagan in Talisay City, Negros Occidental. This is a blog post detailing our recent hike up the mountain to reach Tinagong Dagat via Sitio Campuestohan
            Trail. Details on how to go about arranging your own hike are located towards the end of this post.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>